# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
venv/
env/
ENV/
.venv/
.pipenv/

# Django stuff:
*.log
*.pot
*.pyc
*.mo
*.sqlite3
db.sqlite3
media/
staticfiles/

# Django migrations
*/migrations/__pycache__/
*/migrations/*.py[cod]
*/migrations/*.py

# DRF browsable API cache
*.db

# Pytest
.cache/
.pytest_cache/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Coverage reports
htmlcov/
.coverage
.coverage.*

# Test output
nosetests.xml
coverage.xml
*.cover
*.py,cover

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Environment variable files
.env
.env.*

# pip tools
pip-wheel-metadata/
*.egg-info/
dist/
build/

# Docker
*.pid
*.seed
*.swp
*.bak
*.tmp
